<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome!</h1>
{% if messages %}
	<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
	</ul>
{% endif %}
	<form method='post' action='/register'><br>
		{% csrf_token %}
		Name: <input type="text" name="name"><br>
		<!-- Last Name: <input type="text" name="last_name"><br> -->
		Username: <input type="text" name="username"><br>
		password: <input type="password" name="password"><br>
		Confirm pw: <input type="password" name="confirm_password"><br>
		<!-- Date Hired: <input type="date" name="date_hired"> -->
		<input type="Submit" value="Register">
	</form>

	<form method='post' action='/login'><br>
		{% csrf_token %}
		Username: <input type="text" name="username"><br>
		password: <input type="password" name="password"><br>
		<input type="Submit" value="Login">
	</form>
</body>
</html>